[submodule "submodules/benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark.git
[submodule "submodules/doctest"]
	path = submodules/doctest
	url = https://github.com/onqtam/doctest.git
